    <div class="container" id="main">
      <div class="row">


        <div class="col-md-8">
          <%= image_tag @last.image, class: "img-responsive" %>
          <span class="glyphicon glyphicon-heart"></span>
          <span class="label label-pill label-primary">42</span>
          <span class="pull-right glyphicon glyphicon-bookmark"></span>
          <h3><%= @last.title %></h3>
          <p style="height:60px; line-height:20px; overflow:hidden;"><%= @last.body %></p>
        </div>

        <div class="row row-offcanvas row-offcanvas-right">

          <!-- sidebar -->
          <div class="col-xs-6 col-sm-4 sidebar-offcanvas" id="sidebar" role="navigation">

              <ul class="nav">
                <li><h3>Most Liked</h3></li>
                <% @list.each do |list| %>
                <li><%= link_to list.title, post_path(list) %></li>
                <%end%>
              </ul>

          </div>
        </div>

        </div>
        <hr>
        <br>
        <div class="container-fluid">
          <div class="row">
            <% @posts.each do |post| %>

                <div style="height: 400px; text-overflow: ellipsis;" class="col-xs-12 col-lg-4 post-thumbs" >
                  <%= image_tag post.image, alt: "post-photo", class: "stop img-responsive" %>
                  <span class="glyphicon glyphicon-heart"></span>
                  <span class="label label-pill label-primary">42</span>
                  <span class="pull-right glyphicon glyphicon-bookmark"></span>
                  <h3><%= link_to post.title, post_path(post) %></h3>

                </div>
                <% end %>
          </div>
        <div class="text-center center-block">
          <a href="#"><h2>More Articles</h2></a>
        </div>
        <br>
        <br>
        <link rel="stylesheet" href="/css/index_style.css">
  </body>
</html>
