
            <br>
            <br>
<div style="margin-top: 50px;" class="container">
    <div class="well">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-xs-12 col-sm-8">
                <div class="form-group">
                    <label for="exampleTextarea">
                        <h3>Edit Post</h3>
                    </label>

                    <%= bootstrap_form_for @post do |f| %>
                    <%= f.text_field :title%>
                    <%= f.text_area :body%>
                    <%= f.text_field :image%>
                    <%=f.submit 'Submit', class: "btn btn-primary"%>
                    <%end%>
                </div>

            </div>

        </div>

    </div>
  </body>
</html>
